.main-page__login {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    border: solid;
    
}

.thread-buttom {
    margin: auto; 
    max-width: 1050px;
    margin-top: 10px;
}

.thread-buttom:hover{
    cursor: pointer;
    scale: 0.99;
}

.back-buttom {
    width: 150px;
    background-color: rgb(175, 240, 175);
    color: rgb(25, 100, 25);
    border: solid rgb(150, 180, 150);
    border-radius: 15px;
    padding: 10px;
}

.back-buttom {
    cursor: pointer;
}

.login-buttom {
    margin-top: 20px;
    width: 150px;
    background-color: rgb(175, 240, 175);
    color: rgb(25, 100, 25);
    border: solid rgb(150, 180, 150);
    border-radius: 15px;
    padding: 10px;
}

.login-buttom {
    cursor: pointer;
}