.post {
    border-top: solid rgb(150, 180, 150);
    display: flex;
}

.post__left {
    padding: 20px;
}

.imagen-consulta {
    width: 50px;
}

.post__left__category {
    color: rgb(25, 100, 25);
}

.post__right {
    margin-left: 50px;
    padding-right: 100px;
}

.post__right__title {
    color: rgb(25, 100, 25);
}

.post__right__description {
    color: rgb(25, 100, 25);
}